<!DOCTYPE html>
<html>
<head>
<title>MisterFeaturing</title>
<meta name="description" content="" />
<meta property="og:title" content="MisterFeaturing" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <form>
        <label for="start">Artiste 1</label>
        <input type="text" id="artist_1" name="artist_1">
        <label for="end">Artiste 2</label>
        <input type="text" id="artist_2" name="artist_2">
    </form>
    <button>Go</button>
    <div id="path"></div>
</body>

<script>
    $(function(){
	    $('button').click(function(){
            var data = {
                "artist_1": $("#artist_1").val(),
                "artist_2": $("#artist_2").val()
            };
	    	$.ajax({
	    		url: '/get_featuring',
	    		data: data,
	    		type: 'POST',
	    		success: function(response){
                    for (el of response.path) {
                        $('#path').append('<span>' + el.artist_1);
                        $('#path').append(' est en featuring avec ');
                        $('#path').append(el.artist_2);
                        $('#path').append(' dans ');
                        $('#path').append(el.song + '</span>');
                        $('#path').append('<br>');
                    }
                },
	    		error: function(error){
                    window.alert("Il n'y a pas de chemin");
                }
            });
        });
    });
</script>