<!DOCTYPE html>
<html>
<head>
<title>MisterFeaturing</title>
<meta name="description" content="" />
<meta property="og:title" content="MisterFeaturing" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <form>
        <label for="start">Artiste 1</label>
        <input type="text" id="artist_1" name="artist_1">
        <label for="end">Artiste 2</label>
        <input type="text" id="artist_2" name="artist_2">
    </form>
    <button>Go</button>
</body>
